<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- JQuery | Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.8/jquery.mask.js" integrity="sha512-2Pv9x5icS9MKNqqCPBs8FDtI6eXY0GrtBy8JdSwSR4GVlBWeH5/eqXBFbwGGqHka9OABoFDelpyDnZraQawusw==" crossorigin="anonymous" referrerpolicy="no-meferrer" defer></script>    

    <!-- JS -->
    <script src="/js/index.js" defer></script>
    
    
    <title>FV | Bank</title>
</head>
<div class="msg">Site disponível apenas para computadores.</div>
<body>
    <header>
        <img src="/img/logo-amarelo.png" alt="">
        <nav>
            <ul>
                <li id="inicio" class="selected">Inicio</li>
                <li id="saque">Saque</li>
                <li id="transferencias">Transferências</li>
                <li id="depositos">Depositos</li>
                <li id="sair" onclick="sair()">Sair</a></li>
            </ul>
        </nav>
    </header>
    <main>        
        <!-- Background LOGO -->
        

        <div class="back-img"><img src="/img/logo-escuro.png" width="50%" height="50%" alt=""></div>

        <!-- Conteudo -->
        <div class="container">

            <!-- Inicio -->
            <div class="inicio">
                <div class="row mb-5">
                    <span><strong>Olá, seja bem vindo(a)</strong></span>
                </div>
                <div class="row">
                    <input class="col" type="text" id="conta" th:value="|Conta: ${usuario.conta}|" disabled>
                    <input class="col" type="text" id="saldo" th:value="|R$: ${usuario.saldo}|" disabled>
                </div>
                <div class="row">
                    <input class="col" type="text" id="nome" th:value="|Nome: ${usuario.nome}|" disabled>
                    <input class="col" type="text" id="cpf" th:value="|CPF: ${usuario.cpf}|" disabled>
                </div>
            </div>

            <!-- Saque -->
            <div class="saque" hidden>
                <form action="/whitdraw" method="post" class="text-center">
                    <div class="row">
                        <input type="hidden" name="cpfSaque" th:value="${usuario.cpf}">
                        <input class="col" type="text" name="saldoSaque" id="saldoSaque" th:value="|R$: ${usuario.saldo}|" disabled>
                        <input class="col valores" type="number" name="valorSaque" id="valorSaque" placeholder="Valor a ser sacado">
                    </div>
                    <button class="button button-yellow" type="submit">Sacar</button>
                </form>
            </div>

            <!-- Transferencia -->
            <div class="transferencias" hidden>
                <div class="row">
                    <input class="col" type="text" id="cpf-pesquisa" placeholder="Pesquise a conta destino por CPF">
                </div>
                <div class="row dados-destino-transferencia">
                    <input class="col" type="text" id="conta-destino" th:value="|Conta Destino: ${destinatarioConta}|" disabled>
                    <input class="col" type="text" id="nome-destino" th:value="|Nome Destino: ${destinatarioNome}|" disabled>
                </div>
                <form id="form-transferencias" action="/transferir" method="post" class="text-center">
                    <div class="row">
                        <input class="col" type="text" id="saldoTransferencia" th:value="|R$: ${usuario.saldo}|" disabled>
                        <input class="col valores" type="text" id="valor-transferencia" placeholder="Valor a ser transferido">
                    </div>
                    <button class="button button-yellow" type="submit">Transferir</button>
                </form>
            </div>

            <!-- Depositos -->
            <div class="depositos" hidden>
                <form id="form-deposito" action="/deposit" method="post" class="text-center">
                    <div class="row">
                        <input type="hidden" name="cpfDeposito" th:value="${usuario.cpf}">
                        <input class="col" type="text" id="saldoDeposito" th:value="|R$: ${usuario.saldo}|" disabled>
                        <input class="col valores" type="text" name="valorDeposito" id="valorDeposito" placeholder="Valor a ser depositado">
                    </div>
                    <button class="button button-yellow" type="submit">Depositar</button>
                </form>
            </div>
        </div>
    </main>    
</body>
</html>